.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #4d4c4c;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
   
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .icons{
    margin-right: 1vh;
    
  }
  .icons:hover{
    color: rgb(181, 242, 242);
  }
  
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 1000px;
    background-color: aliceblue;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;
    background-image: none;
    }
    
  }

  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }  