.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #1d2949a3;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
   
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: rgb(181, 242, 242);
  }
  .icons{
    margin-right: 1vh;
    margin-bottom: 0.8vh;    
  }
  .icons:hover{
    color: rgb(181, 242, 242);
  }
  
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 200vh;
    background-color: aliceblue;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;
    background-image: none;
    height: auto;
    }
    
  }

  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }  



  /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    cursor: pointer;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }